<h1><%= @pet.name %>'s Applications</h1>

<% if @pet.applications.empty? %>
  <p><%= @pet.name %> has no applications. YET!</p>
<% else %>
<% @pet.applications.each do |app| %>
<section id="user-<%= app.user_id %>">
  <%= link_to app.user_name, "/applications/#{app.id}" %><br>
</section>
<% end %>
<% end %>
